.winner {
	color: red;
}

div {
	
	padding-left: 20%;
	padding-top: 16%;
}

@font-face {

font-family: bz;
src: url('open24displayst/open24displayst.ttf');


}


body {
	background-image: linear-gradient(135deg, rgba(226,226,226,0.32) 0%, rgba(219,219,219,0.32) 57%, rgba(254,254,254,0.32) 100%),url("https://images6.alphacoders.com/455/455623.jpg");	
	
    font-family: bz !important;
    background-color: rgba(255,255,255,0.2);

  }
  

    
    
}

.mdl-button {
	background-color: rgba(255,255,255,0.4) !important;
	
}


button {
	font-family: bz;
	font-size: 40px !important;
	padding-left: 80px !important;
	padding-right: 80px !important;
}

.mdl-button {
	font-family: bz !important;
}

h1 {
	font-family: bz !important;
	font-size: 100px !important;
}

p {
	font-size: 70px !important;
	padding-bottom: 30px !important;

}


input {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 30px;
  padding: 0px;
  font-size: 14pt;
  border: solid 0.5px #000;
  z-index: 1;
  font-family: bz !important;
  font-size: 30px;
  padding-left: 20px;
  }


